<html>
<body>
<pre>
    hello vm

## 单行注释

#*
块注释（多行注释）
 *#
    $!{date}
    $date.getTime()

    $!{value1}
    $!{value2}
    ${value3}

    #foreach($color in $colors)
        Color $!{foreach.index}/$!{foreach.count}: $!{color}
    #end

    #foreach($key in $map.keySet())
        Number $!{foreach.index}/$!{foreach.count}: $!{key} $map.get($key)
    #end

    #foreach($kv in $map.entrySet())
        Number $!{foreach.index}/$!{foreach.count}: $!{kv.key} $!{kv.value}
    #end

    User: $!{User.name}
    User: $!{User.getName()}        //getName()注意使用lowerCamelCase的驼峰命名规范

    #set($title="coder")
    include: #include("header.vm")      <br \>
        parse: #parse("header.vm")

    #macro(render_color, $color, $index)
        Color by macro: $index, $color
    #end

    #foreach($color in $colors)
        #render_color($color, $foreach.index)
    #end

    #set($hello = "hello")
    #set($hworld1 = "$!{hello} world")      //双引号" "中的表达式才会解析，
    #set($hworld2 = '$!{hello} world')      //而单引号' '中的内容不会解析，只会原样输出

    hworld1: $!hworld1
    hworld2: $!hworld2

</pre>
</body>
</html>